<div class="rTableRow" id="product_7">
<div class="rTableCell">ddddf</div>
<div class="rTableCell">fdgdfgdfg</div>
<div class="rTableCell">dfsdfgf</div>
<div class="rTableCell"><a data-remote="true" href="/products/8/edit.6">edit</a>/ <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/products/8">delete</a></div>
</div>